/* Styles Minh Tran */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(222, 219, 219, 0.644);
    color: rgb(14, 77, 140);
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.left-content {
    margin-right: 0px;
    font-size: 20px;
    margin: 10px;
    padding-left: 40px;
}

.right-content {
    font-size: 20px;
    margin: 10px;
    padding-right: 40px;
}

.da-btn, .da-btn:focus, .da-btn:active, .da-btn:active:focus {
    padding: 20px 25px;
    background-color: rgb(14, 77, 140);
    color: white;
    text-align: center;
    font-size: 20px;
}
.da-btn:hover{
    background-color: rgb(80, 139, 178);
    color: white;
}

.food-container {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(237, 240, 242);
    
}
.food-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

/* Style for the card containers */
.card { 
    border-radius: 4px;
    margin: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #a6aba6; /* Change the background color on hover */
}


.card-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Truncate text when it overflows */
    text-align: left;
    color: rgb(14, 77, 140);
    font-size: 25px;
    margin-top: 10px;
}

.card img {
    max-width: 100%;
    margin: 0 auto; /* Center the image if it doesn't fit */
}

.nutrition-card {
    min-width: fit-content;
    max-width: fit-content;
    background-color: #ccc;
    display: flex; 
    width: 550px;

}
.nutrition-card:hover {
    background-color: initial; /* block background color when hovering */
}
table {
    width: 550px; 
    height: 100%;
    border-collapse: collapse; 
}

th, td {
    padding: 10px; 
    border: 1px solid #ddd; 
    text-align: left; 
}
caption {
    font-size: 1.5em; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
   
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.languageFlag {
    height: 35px;
    width: 55px; 
    height: auto;
}


/* Styles Felicia */

.left-header-spacer {
	width: 10%;
	background-color: red;
}

.left-bar {
	height: 100%;
	width: 10%;
	position: fixed;
	background-color: white;
}

.bar-spacer-top {
	height: 107px;
}

.bar-item {
	width: 100%;
	height: 10%;
	padding: 8px 16px;
	font-size: 20px;
	color: rgb(14, 77, 140);
}

.bar-spacer {
	width: 100%;
	height: 25%;
}

.bar-weekday {
	border:none;
}

.scan-btn {
	width: auto;
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
	color: white;
}

.main-content {
	margin-left: 10%;
}

.today {
	background-color: rgb(80, 139, 178);
    color: white;
}

/* Lucas & Chris*/
.vertical-line {
    border-left: 6px solid rgb(0, 0, 0);
    height: 100vh;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    top: 0;
  }

